* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
.page-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header{
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid grey;
background-color: #e0e0e0;
}

main{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-form{
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-form>div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-form label{
  font-size: 20px;
}

.project-form input,
.project-form textarea{
  padding: 8px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-actions{
  display: flex;
}

.form-actions button{
  width: fit-content;
  padding: 10px 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.projects{
  border: 1px solid grey;
  border-radius: 5px;
}

.projects-header{
 background-color: #e0e0e0;
 padding: 10px;
 border-bottom: 1px solid grey;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
}

.projects input{
  width: 100%;
  padding: 8px;
  font-size: 18px;
  border: 1px solid grey;
  border-radius: 5px;
}

.projects-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.project-item{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  gap: 10px;
}

.project-item:hover{
  background-color: #f0f0f0;
}

.project-del{
  width: 60px;
  height: 60px;

}

.delete-button{
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 50px;
  font-weight: 300;
  color: grey;
  cursor: pointer;
}

.project-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-item a{
  text-decoration: none;
  color: #333;
}

.project-detail{
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  min-height: 500px;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
 }

.project-detail a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  width: fit-content;
}

.project-detail h2{
  font-size: 36px;
}


.project-detail p{
  font-size: 20px;
  line-height: 1.6;
}

.time{
  font-size: 16px;
  color: grey;
}